#content {
    width: 87.5%;
    height: 100%;
    padding: 10px;
    align-self: center;
    background-color: #f5f5f530;
    border-radius: $radius;
    overflow: auto;

    @import "./projects.scss";
    @import "./skills.scss";
}